<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Batch details</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Batch Id
                </th>         
                <th>
                    Year 
                </th>
                <th >
                    Start Date
                </th>
                <th >
                    End Date
                </th>
                <th >
                    Allowed Company Count
                </th>
                <th>
                    Created By
                </th>
              </thead>
              <tbody>
                <tr *ngFor ="let batch of batches.data">
                  <td>{{batch.BatchId}}</td>
                  <td>{{batch.BatchId}}</td>
                  <td>{{batch.Year}}</td>
                  <td>{{batch.StartDate}}</td>
                  <td>{{batch.EndDate}}</td>
                  <td>{{batch.CompanyCount}}</td>
                  <td>{{batch.CreatedBy}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
