<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Simple Table</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Name
              </th>
              <th>
                Location
              </th>
              <th>
                Vacancies 
              </th>
              <th >
                Filled Vacancies
              </th>
              <th >
                contactPersonName
              </th>
              <th >
                contactPersonphoneNumber
              </th>
              <th >
                contactPersonemail
              </th>
            </thead>
            <tbody>
              <tr *ngFor ='let company of companies'>
                <td>{{company.companyName}}</td>
                <td>{{company.location}}</td>
                <td>{{company.numberOfVacancies}}</td>
                <td>{{company.filledVacancies}}</td>
                <td>{{company.contactPersonName}}</td>
                <td>{{company.contactPersonPhoneNumber}}</td>
                <td>{{company.contactPersonEmail}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
