<div class="row">
  <div class="col-md-12 fullScreen">
    <div class="card ">
      <div class="card-header">
        <!-- <h4 class="card-title"> Selected Student List</h4> -->
        <div class="row">
          <div class="col-md-2 pl-3">
            <div class="form-group">
              Index : <input type="text" [(ngModel)]="indexSearch">
            </div>
          </div>
          <div class="col-md-2 pl-3">
            <div class="form-group">
              Name : <input type="text" [(ngModel)]="nameSearch">
            </div>
          </div>
          <div class="col-md-2 pl-3">
            <div class="form-group">
              Email : <input type="text" [(ngModel)]="emailSearch">
            </div>
          </div>
          <div class="col-md-2 pl-3">
            <div class="form-group">
              Batch : <input type="text" [(ngModel)]="batchSearch">
            </div>
          </div>
          <div class="col-md-2 pl-3">
            <div class="update ml-auto mr-auto">
              <br>
              <button (click)="clearSearch()">Clear</button>
            </div>
          </div>
              
              
          
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                IndexNumber
              </th>
              <th>
                NameWithInitials
              </th>
              <th>
                PhoneNumber
              </th>
              <th>
                SGPA
              </th>
              <th>
                BatchId
              </th>
              <th>
                CompanyName
              </th>
              <th>
                Email
              </th>
            </thead>
            <tbody>
              <tr *ngFor='let student of students | filter: nameSearch: emailSearch: indexSearch'>
                <td> {{student.IndexNumber}}</td>
                <td> {{student.NameWithInitials}}</td>
                <td> {{student.PhoneNumber}}</td>
                <td> {{student.SGPA}}</td>
                <td> {{student.BatchId}}</td>
                <td> {{student.CompanyName}}</td>
                <td> {{student.Email}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card ">
      <!-- <table mat-table [dataSource]="students">
        ...
      </table> -->
    </div>
  </div>
</div>